# Ignore build results and temporary files
**/bin/
**/obj/

# Ignore environment variable files
.env

# Ignore .vs config
.vs/

**/.sonarqube/
**/tempdelete/

# Ignore specific files
appsettings.json
dotnet.yml
constants.txt